<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
    <%- include('partials/nav') %>

    <h1>Welcome to the profile of <%= person %></h1>
    <p><strong>Age: </strong><%= data.age %></p>
    <p><strong>Job: </strong><%= data.job %></p>

    <h2>Hobbies</h2>
    <ul>
        <% data.hobbies.forEach(item => { %>
            <li><%= item %></li>
        <% }) %>
    </ul>

    <p>You won't find a website better anywhere else!</p>
    <p>A project by Ved</p>
</body>
</html>
